* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;   
}
.container{
    height: 100vh;
    width: 25vw;
    background-color: whitesmoke;
    text-align: center;
    overflow-y:auto;
    overflow-x: hidden;
}
.top{
    background-color:rgb(6, 6, 73);
    height: 7vh;
    text-align: center;
    position: fixed;
    width: inherit;
    padding: 2em 0;
}
.top span{
  color: white;
  line-height: 2rem;
  font-weight: bold;
  font-size: 4em;
}
.list{
    margin-top: 7em;
}
.footer{
  background-color:rgb(6, 6, 73);
}
p{
  color: aliceblue;
  font-size: 2em;
}
dt{
    background: rgb(153, 147, 147);
    height: 7vh;
    position: sticky;
    top:7em;
    font-weight: bold;
}
dt span{
  color: black;
  font-size: 2.5rem;
} 
hr{
 border: .5px solid;
}
dd{
  text-align: left;
  letter-spacing: .1em;
  line-height: 2rem;
  font-weight:400;
  font-family:  Calibri;
  font-size: 1.5em;
}
